@use "../node_modules/bulma/bulma.scss";

// Custom theme overrides using CSS custom properties (Bulma v1.0)
// Original color: #a50f15 = hsl(357, 82%, 35%)
:root {
  --bulma-primary-h: 357deg;
  --bulma-primary-s: 82%;
  --bulma-primary-l: 35%;

  --bulma-link-h: 357deg;
  --bulma-link-s: 82%;
  --bulma-link-l: 35%;

  --bulma-card-header-shadow: none;
}
