$card-header-shadow: none;

$tor-primary-color: #a50f15;

$link-focus-border: $tor-primary-color;
$link: $tor-primary-color;
$primary: $tor-primary-color;

@import "../node_modules/bulma/bulma.sass";
