html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
  }
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;

  padding: 3rem 1rem 1rem;
  line-height: 2;
  outline: none;

  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  #sidebar {
    line-height: 1;
    padding: 0.5rem;

    width: 100vw;
    height: 60vh;
    margin-top: 40vh;
  }
}

#sidebar-filter {
  flex-grow: 0;
  border-bottom: 0.1rem solid lightgray;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

#sidebar-results-outer {
  overflow: hidden;
  flex-grow: 1;
  position: relative;
}

#sidebar-results {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  flex-grow: 1;
  padding: 1rem;

  outline: none;
  overflow: auto;
}

#sidebar-results .card {
  margin-bottom: 3rem;
}

#sidebar-results .card .card-content b {
  background-color: rgba(255, 191, 0, 0.2);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.tooltip {
  font-size: 0.8rem;
  position: absolute;
  height: auto;
  background-color: white;
  opacity: 0.9;
  border-radius: 0.1rem;
  padding: 0.4rem;
  z-index: 10;
}
