html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;

  padding: 3rem 1rem 1rem;
  line-height: 2;
  outline: none;

  display: flex;
  flex-direction: column;
  border-left: 0.1rem solid grey;
}

#sidebar-filter {
  flex-grow: 0;
  padding: 1rem;
  border-bottom: 0.1rem solid grey;
}

#sidebar-results-outer {
  overflow: hidden;
  flex-grow: 1;
  position: relative;
}

#sidebar-results {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  flex-grow: 1;
  padding: 1rem;

  outline: none;
  overflow: auto;
}

#sidebar-results .card {
  margin-bottom: 3rem;
}
