html,
body {
  background-color: #fefefe;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;

  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  word-break: break-word;
  hyphens: auto;
}

ul.dashed {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}
ul.dashed > li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}

a {
  font-weight: bold;
}

.navbar {
  margin-left: 50.4%;
  width: fit-content;
}

.navbar a {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.navbar-item img {
  max-height: 3rem;
  background: rgba(255, 255, 255, 1);
}

.navbar-brand .navbar-item {
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.navbar-start {
  margin-right: 0;
}

.navbar-menu {
  flex-grow: unset;
}

/* a {
  color: inherit;
  text-decoration: none; */
/* } */

* {
  box-sizing: border-box;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;

  padding: 0rem 1rem 1rem 0;
  outline: none;

  display: flex;
  flex-direction: column;
}

#sidebar-filter {
  background-color: #f1f1f1;
  /* background-color: lightgrey; */
  color: black;
  /* background-color: #a50f15; */
  /* color: white; */
  /* filter: invert(1); */
  margin-top: 3rem;
  flex-grow: 0;
  /* border-bottom: 0.1rem solid lightgray; */
  /* padding-bottom: 2rem; */
  margin-bottom: 2rem;
  /* padding: 2rem; */
  /* background-color: #f1f1f1; */
  /* border-radius: 0.1rem; */
  padding-bottom: 0;
}

#sidebar-results-outer {
  overflow: hidden;
  flex-grow: 1;
  position: relative;
}

#sidebar-results {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  flex-grow: 1;
  padding: 1rem;
  padding-left: 1%;

  outline: none;
  overflow: auto;
}

#sidebar-results .card {
  margin-bottom: 2rem;
}

#sidebar-results .card .card-content {
  padding: 0.5rem 1rem 1.5rem;
}

#sidebar-results .card .card-content b {
  background-color: #fee0d2;
  /* background-color: rgba(255, 191, 0, 0.2); */
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.tooltip {
  font-size: 0.8rem;
  position: absolute;
  height: auto;
  background-color: white;
  opacity: 0.9;
  border-radius: 0.1rem;
  padding: 0.4rem;
  z-index: 10;
}

.tor-date-input .MuiFormControl-root.MuiTextField-root {
  /* max-width: 9rem; */
  max-width: 48%;
}

.tor-histogram {
  margin-bottom: 2rem !important;
}

.navbar {
  box-shadow: 0 0.75em 1.5em -0.2em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
}

svg.tor-not-expanded {
  transform: rotate(0deg);
  transition: transform 300ms ease;
}

svg.tor-expanded {
  transform: rotate(180deg);
  transition: transform 300ms ease;
}

.tor-onboarding-up {
  opacity: 0;
  animation: fadein 2s ease-in 1s;
  animation-fill-mode: forwards;
}

.tor-onboarding-left {
  opacity: 0;
  animation: fadein 2s ease-in 2s;
  animation-fill-mode: forwards;
}

.tor-onboarding-remove {
  opacity: 0;
  animation: fadein 2s ease-in 4s;
  animation-fill-mode: forwards;
}

#tor-historesults {
  opacity: 0;
  animation: fadein 0.5s ease-in;
  animation-fill-mode: forwards;
}

.tor-onboarding-mobile-up {
  opacity: 0;
  animation: fadein 2s ease-in;
  animation-fill-mode: forwards;
}

.tor-onboarding-mobile-down {
  opacity: 0;
  animation: fadein 2s ease-in 0.5s;
  animation-fill-mode: forwards;
}

/* the negative margin made the links of the previous elements unclickable */
#sidebar-filter > div.columns.is-mobile.is-multiline {
  margin-top: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    margin-left: 0%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
  }

  #sidebar {
    padding: 0 0.5rem;
    width: 100vw;
    height: 50vh;
    margin-top: 50vh;
  }

  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
  }

  #sidebar-filter {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }

  #sidebar-results .card {
    margin-bottom: 1rem;
  }

  .tor-histogram {
    margin-bottom: 1rem !important;
  }

  #sidebar-filter {
    margin-bottom: 1rem;
  }

  .tor-date-input .MuiFormControl-root.MuiTextField-root {
    max-width: 100%;
  }

  .is-12-mobile {
    padding-bottom: 0;
  }

  #sidebar-results {
    padding: 0.2rem;
  }

  #sidebar-filter > div.columns.is-mobile.is-multiline {
    margin-bottom: 0;
  }

  #sidebar-filter > div.columns.is-mobile.is-multiline > div {
    padding-bottom: 0;
    padding-top: 0;
  }
}
